body {
  -webkit-text-size-adjust:none;
}

table.main_outer, table.main_inner, table.top_navi, table.sub_inner {
	width: 100%;
}
table.bottom_navi {
	width: 99%;
}

table.map_inner, table.innersubtable {
	width: auto;
}

p#disclaimer, table.bottomad {
        display : none;
}

